<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header clearfix">
   <nav>
     <ul class="nav nav-pills pull-right">
       <li role="presentation" class="active"><%= link_to "Home", root_path %></li>
       <li role="presentation"><%= link_to "Portfolio", portfolio_path %></li>
       <li role="presentation"><a href="#">Contact</a></li>
     </ul>
   </nav>   
    <h3 class="text-muted">Salt Wind Solutions</h3>  
</div>
<%= yield %>

<br>
<div class="footer">
  <div class="container">
    <div class="nav row centered">
      <div class="col-md-8 col-md-offset-2">
        <p>© Salt Wind Solutions 2015</p>
        <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-instagram"></i></a>
        <a href="#"><i class="ion-social-facebook"></i></a>
      </div><!--/col-md-8-->
    </div>
  </div><!--/container-->
</div><!--/.F-->


</body>
</html>
